ELEVENLABS_API_KEY=
ELEVENLABS_VOICE_ID=
ELEVENLABS_MODEL_ID=eleven_v3
ELEVENLABS_TEXT_TO_VOICE_MODEL_ID=eleven_ttv_v3
ELEVENLABS_SELECTED_GENERATED_VOICE_ID=
ELEVENLABS_NEW_VOICE_NAME=Skill Explainer Creator CN
